In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Northam,GB,2021-02-06 19:04:41,51.0333,-4.2167,39.99,94,81,4.00
1,1,Torbay,CA,2021-02-06 19:02:12,47.6666,-52.7314,35.60,87,90,11.50
2,2,Chokurdakh,RU,2021-02-06 19:02:06,70.6333,147.9167,-20.16,87,61,8.48
3,3,Vaini,TO,2021-02-06 19:02:07,-21.2000,-175.2000,75.20,88,75,5.75
4,4,Dongling,CN,2021-02-06 19:04:42,41.8144,123.5758,12.20,85,0,4.47

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 75

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Alice Springs,AU,2021-02-06 19:03:00,-23.7000,133.8833,73.40,35,93,6.91
10,10,Ushuaia,AR,2021-02-06 18:59:29,-54.8000,-68.3000,53.60,62,20,23.02
15,15,Hilo,US,2021-02-06 18:57:28,19.7297,-155.0900,70.00,63,1,5.75
16,16,Ankang,CN,2021-02-06 19:04:43,32.6800,109.0172,50.00,29,98,3.00
17,17,Kutum,SD,2021-02-06 19:04:43,14.2000,24.6667,56.43,34,0,10.98
22,22,Busselton,AU,2021-02-06 19:02:00,-33.6500,115.3333,59.00,95,100,1.99
24,24,Cape Town,ZA,2021-02-06 19:02:00,-33.9258,18.4232,73.00,68,75,14.97
25,25,Flinders,AU,2021-02-06 19:03:10,-34.5833,150.8552,64.00,85,0,1.01
26,26,Asmar,AF,2021-02-06 19:04:45,35.0333,71.3581,49.50,40,0,5.50
28,28,Mataura,NZ,2021-02-06 19:02:17,-46.1927,168.8643,52.38,90,5,1.79

In [11]:
preferred_cities_df.count()

City_ID       197
City          197
Country       194
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6   Alice Springs      AU     73.40 -23.7000  133.8833
10        Ushuaia      AR     53.60 -54.8000  -68.3000
15           Hilo      US     70.00  19.7297 -155.0900
16         Ankang      CN     50.00  32.6800  109.0172
17          Kutum      SD     56.43  14.2000   24.6667
22      Busselton      AU     59.00 -33.6500  115.3333
24      Cape Town      ZA     73.00 -33.9258   18.4232
25       Flinders      AU     64.00 -34.5833  150.8552
26          Asmar      AF     49.50  35.0333   71.3581
28        Mataura      NZ     52.38 -46.1927  168.8643

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Alice Springs,AU,73.40,-23.7000,133.8833,Desert Palms Alice Springs
10,Ushuaia,AR,53.60,-54.8000,-68.3000,Albatros Hotel
15,Hilo,US,70.00,19.7297,-155.0900,Hilo Hawaiian Hotel
16,Ankang,CN,50.00,32.6800,109.0172,安琪酒店
17,Kutum,SD,56.43,14.2000,24.6667,Dibbo areaمنطقة دبو
22,Busselton,AU,59.00,-33.6500,115.3333,Observatory Guest House
24,Cape Town,ZA,73.00,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
25,Flinders,AU,64.00,-34.5833,150.8552,Shellharbour Resort & Conference Centre
26,Asmar,AF,49.50,35.0333,71.3581,
28,Mataura,NZ,52.38,-46.1927,168.8643,Ellie's Villa

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [17]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))