## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Mataura,NZ,52.43,overcast clouds,-46.1927,168.8643,Ellie's Villa
1,4,San Patricio,US,64.99,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,7,Bredasdorp,ZA,69.80,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
3,9,Matata,NZ,59.00,broken clouds,-37.8833,176.7500,paradise cabins
4,10,Mar Del Plata,AR,64.40,moderate rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
...,...,...,...,...,...,...,...,...
214,671,Naze,JP,57.90,clear sky,28.3667,129.4833,奄美ポートタワーホテル
215,676,Neftcala,AZ,46.90,clear sky,39.3742,49.2472,Otel restoran
216,681,Constitucion,CL,66.51,overcast clouds,-35.3333,-72.4167,Hotel Boutique Las Azucenas
217,683,Nador,MA,59.00,broken clouds,35.1740,-2.9287,Hôtel La Giralda
218,685,Greeley,US,44.01,clear sky,40.4233,-104.7091,Fairfield Inn & Suites by Marriott Greeley

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Perth, Geraldton, Esperance, Busselton (AU)
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Perth']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Perth']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Geraldton']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Esperance'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Busselton']

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
209,656,Perth,AU,66.99,broken clouds,-31.9333,115.8333,Parmelia Hilton Perth

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[{"Lat":[6] , "Lng":[7]}].to_numpy
end = vacation_end[{"Lat":[6] , "Lng":[7]}].to_numpy
stop1 = vacation_stop1[{"Lat":[6] , "Lng":[7]}].to_numpy
stop2 = vacation_stop2[{"Lat":[6] , "Lng":[7]}].to_numpy
stop3 = vacation_stop3[{"Lat":[6] , "Lng":[7]}].to_numpy

In [8]:
stop3

<bound method DataFrame.to_numpy of      Lat       Lng
8 -33.65  115.3333>

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
perth = (-31.9, 115.8)
geraldton = (-28.8, 114.6)
esperance = (-33.9, 121.9)
busselton = (-33.7, 115.3)

fig = gmaps.figure()
perth2busselton_via_geraldtonandesperance = gmaps.directions_layer(
        perth, busselton, waypoints=[geraldton, esperance],
        travel_mode='DRIVING')
busselton2perth = gmaps.directions_layer(
        busselton, perth,travel_mode='DRIVING')
fig.add_layer(perth2busselton_via_geraldtonandesperance)
fig.add_layer(busselton2perth)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,656,Perth,AU,66.99,broken clouds,-31.9333,115.8333,Parmelia Hilton Perth
1,656,Perth,AU,66.99,broken clouds,-31.9333,115.8333,Parmelia Hilton Perth
2,85,Geraldton,AU,69.80,scattered clouds,-28.7667,114.6000,Broadwater Mariner Resort
3,537,Esperance,AU,64.40,scattered clouds,-33.8667,121.9000,Hospitality Esperance
4,21,Busselton,AU,63.00,overcast clouds,-33.6500,115.3333,Observatory Guest House

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))